






/* DEBUG  */

[class*="col-"] {
    background-color: darkblue;
    height: 50px;
    border: solid 2px white;

}

.green {
    background-color: lightblue;
    color: black;
    text-align: center;
    height: 40px;
    margin: 5px 5px;
  
}

section {
    margin-bottom: 20px;
}

.row {
    flex-wrap: nowrap;
}
