






/* DEBUG  */

[class*="col-"] {
    background-color: rgb(60, 60, 242);
    height: 50px;
    border: solid 1px white;
    text-align: center;
    line-height: 50px;
    height: 50px;
}

.green {
    color:white;
    padding: 10px;
    height: auto;
}

.green [class*="col-"] {
    background-color:rgb(18, 205, 18); 
    border: 1px solid rgb(60, 60, 242);
}

section {
    margin-top: 10px;
    margin-bottom: 20px;
}
